html
   body
       p #{greskaIspis}
       form()
        input(type="button",value="Nazad" onclick="nazad()")
        script.
            function nazad(){
                window.history.back();
            }
